//
// Forms
//

form {

}

button {
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;

	text-transform: none;

	overflow: visible;

	-webkit-appearance: button;

	touch-action: manipulation;

	&[type="button"] {

		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}

		&:-moz-focusring {
			outline: 1px dotted ButtonText;
		}
	}

	&[type="reset"] {
		-webkit-appearance: button;

		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}

		&:-moz-focusring {
			outline: 1px dotted ButtonText;
		}
	}

	&[type="submit"] {
		-webkit-appearance: button;

		&::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}

		&:-moz-focusring {
			outline: 1px dotted ButtonText;
		}
	}

	&::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	&:-moz-focusring {
		outline: 1px dotted ButtonText;
	}

	&:focus {
		outline: 1px dotted;
		outline: 5px auto -webkit-focus-ring-color;
	}
}

fieldset {
	border: 0;
	margin: 0;
	// padding: 0.35em 0.75em 0.625em;
	padding: 0;
	min-width: 0;
}

input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;

	overflow: visible;

	&[type="checkbox"] {
		box-sizing: border-box;
		padding: 0;
	}

	&[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}


	@if $enable-html5 {

		&[type="date"] {
			-webkit-appearance: listbox;
		}

		&[type="datetime-local"] {
			-webkit-appearance: listbox;
		}

		&[type="month"] {
			-webkit-appearance: listbox;
		}

		&[type="number"] {
			&::-webkit-inner-spin-button {
				height: auto;
			}

			&::-webkit-outer-spin-button {
				height: auto;
			}
		}

		&[type="search"] {
			-webkit-appearance: textfield;
			outline-offset: -2px;

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}

			&::-webkit-search-decoration {
				-webkit-appearance: none;
			}
		}

		&[type="time"] {
			-webkit-appearance: listbox;
		}

		&:not([type="range"]) {
			touch-action: manipulation;
		}

	}

	&::-webkit-file-upload-button {
		font: inherit;
		-webkit-appearance: button;
	}
}

label {
	color: inherit;
	// display: inline-block;
	display: block;
	font-size: 1.5rem;
	width: 100%;
	max-width: 100%;
	margin-bottom: .5rem;
	padding: 0;
	line-height: inherit;
	white-space: normal;

	touch-action: manipulation;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

optgroup {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

option {

}

select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;

	text-transform: none;

	touch-action: manipulation;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;

	resize: vertical;

	overflow: auto;

	touch-action: manipulation;
}


@if $enable-html4 {


}


@if $enable-html5 {

	datalist {

	}

	// Remove in HTML 5.2
	keygen {

	}

	meter {

	}

	output {
		display: inline-block;
	}

	progress {
		display: inline-block;
		vertical-align: baseline;
	}

}
