//
// Grouping content
//

blockquote {
	margin: 0 0 1rem;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

div {

}

dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

dt {
	font-weight: $dt-font-weight;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

p {
	margin-top: 0;
	margin-bottom: $paragraph-margin-bottom;
}

pre {
	color: $pre-color;
	display: block;

	font-family: $font-family-monospace;
	font-size: $code-font-size;

	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;

	& code {
		color: inherit;
		font-size: inherit;
		word-break: normal;
	}
}

ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol {
	margin-top: 0;
	margin-bottom: 1rem;
}

li {

}


@if $enable-html4 {

	dir {

	}

}

@if $enable-html5 {

	figcaption {
		display: block;
	}

	figure {
		display: block;
		margin: 1em 40px;

		margin: 0 0 1rem;
	}

	main {
		display: block;
	}

}
