//
// Grouping content
//

blockquote {

}

dd {

}

div {

}

dl {

}

dt {

}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

p {

}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

ul {

}

ol {

}

li {

}


@if $enable-html4 {

	dir {

	}

}

@if $enable-html5 {

	figcaption {
		display: block;
	}

	figure {
		display: block;
		margin: 1em 40px;
	}

	main {
		display: block;
	}

}
