//
// Interactive elements
//

// Remove in HTML 5.2
menu {
	display: block;
}


@if $enable-html4 {



}


@if $enable-html5 {

	details {
		display: block;
	}

	dialog {

	}

	// Remove in HTML 5.2
	menuitem {

	}

	summary {
		display: list-item;
	}

}
