//
// Sections
//

body {
	margin: 0;
}

address {

}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


@if $enable-html4 {

	hgroup {

	}

}


@if $enable-html5 {

	article {
		display: block;
	}

	aside {
		display: block;
	}

	footer {
		display: block;
	}

	header {
		display: block;
	}

	nav {
		display: block;
	}

	section {
		display: block;
	}

}
