//
// Sections
//

body {
	background-color: $body-bg;
	color: $body-color;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	margin: 0;
	text-align: left;
}

address {
	font-style: normal;
	line-height: inherit;
	margin-bottom: 1rem;
}

h1 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;

	font-size: $h1-font-size;
}

h2 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;

	font-size: $h2-font-size;
}

h3 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;

	font-size: $h3-font-size;
}

h4 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;

	font-size: $h4-font-size;
}

h5 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;

	font-size: $h5-font-size;
}

h6 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	margin-top: 0;
	margin-bottom: $headings-margin-bottom;

	font-size: $h6-font-size;
}


@if $enable-html4 {

	hgroup {
		display: block;
	}

}


@if $enable-html5 {

	article {
		display: block;
	}

	aside {
		display: block;
	}

	footer {
		display: block;
	}

	header {
		display: block;
	}

	nav {
		display: block;
	}

	section {
		display: block;
	}

}
