//
// Tabular data
//

table {
	border-collapse: collapse;
}

caption {
	color: $text-muted;
	padding-bottom: $table-cell-padding;
 	padding-top: $table-cell-padding;
	text-align: left;
	caption-side: bottom;
}

col {

}

colgroup {

}

tbody {

}

td {

}

tfoot {

}

th {
	text-align: inherit;
}

thead {

}

tr {

}


@if $enable-html4 {



}


@if $enable-html5 {



}
