//
// Tabular data
//

table {
	background-color: $table-bg;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin-bottom: $spacer;
}

caption {
	color: $text-muted;
	padding-bottom: $table-cell-padding;
 	padding-top: $table-cell-padding;
	text-align: left;
	caption-side: bottom;
}

col {

}

colgroup {

}

tbody {

}

td {
	border-top: $table-border-width solid $table-border-color;
	padding: $table-cell-padding;
	vertical-align: top;
}

tfoot {

}

th {
	border-top: $table-border-width solid $table-border-color;
	padding: $table-cell-padding;
	vertical-align: top;

	text-align: inherit;
}

thead {

	& th {
		border-bottom: (2 * $table-border-width) solid $table-border-color;
		vertical-align: bottom;
	}
}

tr {

}


@if $enable-html4 {



}


@if $enable-html5 {



}
