//
// Various
//

[hidden] {
	display: none;
}

[role="button"] {
	touch-action: manipulation;
}

[tabindex="-1"] {

	&:focus {
		outline: 0 !important;
	}
}


@if $enable-scrollbar {

}


@if $enable-html4 {



}


@if $enable-html5 {



}
