//
$enable-reset:      false !default;
$enable-html4:      false !default;
$enable-html5:      true !default;
//
$enable-scrollbar:  false !default;

// Import elements
@import "functions";
@import "variables";

// Core mixins and placeholders
@import "mixins";
@import "placeholders";

// HTML elements
@import "elements/root";
@import "elements/sections";
@import "elements/grouping";
@import "elements/textlevel";
@import "elements/edits";
@import "elements/embedded";
@import "elements/tabular";
@import "elements/forms";
@import "elements/interactive";
@import "elements/scripting";

// Divers elements
@import "elements/various";
